.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 1rem 1rem;
}

.electroWrapper {
  background-color: rgb(6, 37, 6);
  font-size: 2rem;
  display: grid;
  grid-template-rows: 1fr 7rem 7rem 7rem 1fr;
  align-items: center;
  padding: 2rem 4rem 1rem 4rem;
  height: 80rem;
}

.electroWrapper div {
  text-align: center;
}

.title {
  background-color: rgb(37, 6, 6);
  font-size: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.artist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.album {
  background-color: rgb(37, 6, 6);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.descrition {
  margin-top: 1rem;
}

.coverArt {
  margin: 0rem auto 1rem auto;
}
