.singleWrapper {
  background-color: rgb(37, 6, 6);
  font-size: 3rem;
  position: relative;
  margin-bottom: 1rem;
}

.animation {
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.textFlex {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 12rem 1fr 1.2fr 12rem 0.3fr;
}

.explanation {
  /* grid-column: 1/3; */
  background-color: rgb(6, 37, 6);
  margin-left: 10rem;
  padding: 0rem 2rem 0rem 2rem;
  font-size: 2.3rem;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s;
  transform: translate(100px, -2rem);
}

.visible {
  /* animation: appareance 1s forwards; */
  max-height: 50rem;
  opacity: 1;
  visibility: visible;
  margin-top: -1rem;
  transform: translate(0, 0);
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 0.8rem;
}

/* @keyframes appareance {
  0% {
    height: 0;
  }
  100% {
    height: 100;
  }
} */

.explanationWrapper {
  grid-column: 1/3;
  background-color: rgb(6, 37, 6);
}

.filler {
  background-color: rgb(6, 37, 6);
}

.textWrap {
  margin-left: 1rem;
}

.artistAlbum {
  font-size: 2.2rem;
  padding-right: 3rem;
  /* grid-column: -2/-1; */
}

.positionTitle {
  font-size: 3rem;
  padding-right: 3rem;
}

.quotes {
  margin-top: 0rem;
  font-size: 3rem;
  padding: 3rem;
  padding-bottom: 4rem;
  text-align: center;
  border: collapse;
}

.bonusBtn {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90%; */
  /* background-color: rgb(6, 37, 6); */
  width: 15rem;
  font-size: 2.2rem;
  height: 100%;
  align-self: center;
  transition: all 0.3s;
  padding: 0 1rem;
  padding-top: 3.1rem;
}

.arrowDown {
  transform: translateY(-16px);
  transition: all 0.3s;
}

.arrowDisappearance {
  transform: translateY(20px);
  transform: rotate(180deg);
}

.bonusBtn:hover {
  background-color: rgb(6, 37, 6);
}

.bonusBtn:hover .arrowDown {
  transform: translateY(-4px);
}

.secondRow {
  display: flex;
  flex-direction: column;
}
