/* ! Nav bar  */

.headerFooter {
  background-color: rgb(37, 6, 6);
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}

.navBar {
  display: flex;
  justify-content: space-around;
}

.dropDownTitle {
  cursor: default;
}

.dropDownNav {
  flex-direction: column;
  background-color: white;
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
}

.dropDownTitle:hover .dropDownNav {
  opacity: 100;
  visibility: visible;
}

/* ! Page  */
.mainText {
  font-size: 3rem;
  margin: 2% 10% 1% 10%;
}

.secondaryText {
  font-size: 3rem;
  margin: 2% 10% 1% 10%;
}

.form {
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  /* background-color: rgb(6, 37, 6); */
  padding: 2rem 2.6rem;
}

.submitBtn {
  background-color: rgb(6, 37, 6);
  padding: 0rem 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
