@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
}

* {
  box-sizing: border-box;

  font-style: none;

  padding: 0;
  margin: 0;
  text-size-adjust: none;

  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  color: rgb(200, 200, 200);
}

html {
  scroll-behavior: smooth;

  font-size: 62.5%;
}

.disappeared {
  opacity: 0;
  animation: appearance 1s forwards;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.w-6.h-6 {
  stroke: rgb(200, 200, 200);
  font-size: 3rem;
  height: 32px;
  width: 32px;
}

.w-6.h-6:hover {
  cursor: pointer;
}
