/* Page */
.quotes {
  margin-top: -4rem;
  font-size: 3rem;
  padding: 3rem;
  padding-bottom: 4rem;
  text-align: center;
  border: collapse;
}

.quotes:first-child {
  margin-top: 0;
}

/* .btn {
  display: block;
  margin: 0 auto;
  border: 1px white solid;
  padding: 1rem;
  font-size: 3rem;
} */

.disappear {
  display: none;
}

/* AlbumWrapper.js */

.albumWrapper {
  display: grid;
  grid-template-columns: 12rem 25rem 1fr;
  background-color: rgb(37, 6, 6);
  min-height: 21rem;
  margin-bottom: 5rem;
}

.animation {
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/* compontents/Position.js */

.rankingCont {
  width: 8rem;
  align-self: center;
  justify-self: center;
}

.ranking {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  /* border: 1px solid white; */
  background-color: rgb(6, 37, 6);
}

/* compontents/CoverArt.js */

.coverArt {
  justify-self: center;
  align-self: center;
}

/* compontents/AlbumDescription.js */

/* this is the wrapper of the below */
.albumInfoWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-right: 4rem;
  margin-left: 2rem;
  align-items: center;
}

.albumTitle {
  font-size: 3rem;
  letter-spacing: -0.2rem;
}

.artistName {
  font-size: 2.2rem;
}

.labelInfo {
  font-size: 2.2rem;
}

.albumInfoDescription {
  font-size: 2.3rem;
  line-height: 3rem;
  grid-row: -5 / -1; /* 5 */
  grid-column: 2/3;
}

.genre {
  font-size: 1.5rem;
}

.genreSelected {
  font-size: 1.5rem;
  background-color: red;
}

.genre:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tagsWrapper {
  display: flex;
  gap: 2rem;
}

.button {
  font-size: 2rem;
  background-color: white;
  display: block;
  color: rgb(60, 49, 49);
  transition: all 0.3s;
  padding: 0rem 1rem;
  align-self: center;
}

.buttonSelected {
  background-color: rgb(6, 37, 6);
  color: white;
  cursor: default;
}

.button:hover {
  background-color: rgb(6, 37, 6);
  color: white;
}

.btnWrapper {
  display: flex;
  gap: 0.3rem;
}

.divider {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.empty {
  background-color: red;
  width: 50%;
}

.arrow {
  align-self: center;
  font-size: 3rem;
  padding: -0.5rem;
}

.arrow:first-child {
  transform: translateY(-1.5px) translateX(4px);
}

.arrow:last-child {
  transform: rotate(180deg) translateY(-4.5px);
}

.arrows {
  display: flex;
  gap: -3px;
  margin-right: 1rem;
}

.bottomUl {
  margin-left: 3rem;
  font-size: 2rem;
}

.bottomUl li {
  margin-left: 3rem;
}

.bottomUl li:last-child {
  margin-bottom: 2rem;
}

.almostAlert{
  font-size: 3rem;
  font-weight: 500;
  margin-left: 2rem;
}